<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste Intervenants</title>
</head>
<body>
    <h1>Liste des Intervenants</h1>

    <% intervenantsList.forEach(intervenant => {%>
        <p>ID : <%=intervenant.id %> ; Username : <%= intervenant.username %></p>
    <% });  %>
    
    <br/><br/><br/><a href="http://localhost:3000/apiauth/dashboard">Revenir sur le Dashboard</a>
</body>
</html>